<div class="<%= mode%>_user" <%= (el) -> el.data( 'model', data ) %> >
  <div class="input_wrap first_name"><input type="text" class="form_input" id="first_name" placeholder="First Name" value="<%= data.name %>"></div>
  <div class="input_wrap last_name"><input type="text" class="form_input" id="last_name" placeholder="Last Name" value="<%= data.family %>"></div>
  <div class="input_wrap email"><input type="text" class="form_input" id="email" placeholder="Email" value="<%= data.email %>"></div>
  <%if(mode==='edit'){%>
    <div class="eu_delete"></div>
    <div class="eu_save_close"></div>
  <%}else{%>
    <div class="add_user_btn">
      <div class="plus_img"></div>
      <div class="plus_txt"><span>add</span></div>
    </div>
  <%}%>
</div>